---
import Layout from "../layouts/Layout.astro";
---

<Layout title="見つかりません">
	<div class="container">
		<nav class="nav">
			<a href="/">ない言葉</a>
		</nav>

		<article class="word">
			<header class="word-header">
				<h1 class="word-name">見つかりません</h1>
			</header>
			<p class="word-content">
				このページは移動もしくは削除された可能性があります。
			</p>
			<p class="word-content">
				<a href="/">索引</a>から探してみてください。
			</p>
		</article>
	</div>
</Layout>
